*~
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/build-stamp
/config.guess
/config.log
/config.status
/config.sub
/config/
/configure
/debian/files
/debian/ubnt-igmpproxy.debhelper.log
/debian/ubnt-igmpproxy.substvars
/debian/ubnt-igmpproxy/
/libtool

